<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SajiloYatra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/header :: site-header}"></div>


<main class="container mt-4">
    <h1>Welcome to my midterm site </h1>
    <h2>My information</h2>
    <h3>Name: rauniyar manish kumar</h3>
    <h3>Student Id : 2312075</h3>
</main>

</body>

<div th:replace="~{fragments/footer :: site-footer}"></div>
</html>